<div class="padding" ng-controller="RoadTripController">

  <super-navbar>
  <super-navbar-button ng-click = "openFilterView()">
    Filters
  </super-navbar-button>
    <super-navbar-title>
      Road Trip
    </super-navbar-title>
    <super-navbar-button side="right" ng-click = "manualRefresh()">
      Refresh
    </super-navbar-button>
  </super-navbar>
  
  <body style="height:100%">

  <ul class="list" ng-show="my.newPlaces"><li class="item" style="text-align:center; background-color: #2A1838; color: white" ng-click="pushNewPlaces()">New Places Found</li></ul>
<!--     <div>
      <h5>Radius for your search:</h5>
            <rzslider
                rz-slider-floor="0.1"
                rz-slider-ceil="10"
                rz-slider-step="0.1"
                rz-slider-precision="1"
                rz-slider-translate="translate"
                rz-slider-model="radiusSlider"</rzslider>
    </div> -->

    <map center="{{mapCenter}}" zoom="12"></map>

  <img src="https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png"/>

      <div id="map" style="height:100%"></div>

<div class = "list">


    <li class="item item-thumbnail-right" href="#" ng-repeat="place in visibleplaces">
      <img src={{place.photo}}>
      <h2 style = "text-align:left">{{place.name}}  
        <span style="float:right">{{place.distance | number:1}} mi<span> </h2>
      <p>{{place.openhours}}</p>
       <!-- <a ng-href = {{place.website}}>Go To Website</a> -->
    </li>


<!--   <div class="item item-avatar">
    <img src={{place.icon}}>
    <h2>{{place.name}}</h2>
    <p>{{place.vicinity}}</p>
  </div> -->

 <!--  <div class="item item-body">
    <img class="full-image" src={{place.photo}})>
    <button class="button button-calm" ng-click="openGoogleMaps(place.navstr)">Navigate</button>
    <h3>Address:</h3> 
    </p> {{place.address}}</p>
    <h3>Contact Number:</h3> 
    </p> {{place.phone}}</p>
    <h3>Rating:</h3> 
    </p> {{place.rating}}</p>
     <h3>Distance:</h3> 
    </p> {{place.distance | number:1}} miles</p>
  </div>
 -->
</div>
</body>

</div>


