<div class="padding" ng-controller="RoadTripController">

  
  <body style="height:100%">

    <ul class="list" ng-show="showRefreshing"><li class="item" style="text-align:center; background-color: #009900; color: white" >Refreshing...</li></ul>

  <ul class="list" ng-show="my.newPlaces"><li class="item" style="text-align:center; background-color: #2A1838; color: white" ng-click="pushNewPlaces()">New Places Found</li></ul>

   <div id="map" ng-if = "showMap" style="height:100%">
    <map center="{{mapCenter}}" zoom="12"></map>
   </div>


  <img src="https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png" ng-click = "toggleMap()"/>


<div class="card container" ng-repeat="place in visibleplaces">
      <img class="card-img-top" src={{place.photo}} height="200" width="100%">
      <h4 style = "text-align:left;">{{place.name}}
      <span style="float:right">{{place.distance | number:1}} Mi<span></h4>  
      <p style = "text-align: left;">{{place.type}}
      <span style="float: right;">Open: {{place.openhours}}</span></p>
      <bs-rating value={{place.rating}} data-show-clear="false" data-size="xs" readonly="true"></bs-rating>
       <p> <a ng-click = "openWebsite(place.website)">{{place.website}}</a></p>
       <p>Contact: {{place.phone}}</p>
        <p style="text-align: center;">
        <button class="button" id="navbutton" ng-click="openGoogleMaps(place.navstr)">Navigate</button>
        </p>

</div>


</body>

</div>


