<div class="padding" ng-controller="SettingsController">

  <super-navbar>

    <super-navbar-button ng-click="removeView()">
      Back
    </super-navbar-button>

    <super-navbar-title>
      Filters
    </super-navbar-title>

  </super-navbar>
  
  <!-- <body style="height:100%"> -->

<div class="list" >

    <div class="item item-divider" style="font-weight:bold;font-size:125%">
      Search Radius
    </div>
    <div class="item">
      <rzslider
                rz-slider-floor="0.1"
                rz-slider-ceil="10"
                rz-slider-step="0.1"
                rz-slider-precision="1"
                rz-slider-translate="translate"
                rz-slider-model="radiusSlider"</rzslider>
    </div>

  <div class="item item-divider item-icon-right" style="font-weight:bold;font-size:125%" ng-click = "hideTypesFilters()">
    Select Categories 
    <i class="{{categoriesIcon}}"></i>
  </div>
    <div class = "types" ng-hide = "hideTypesFilter">
      <div class="item item-checkbox" "stylel" ng-repeat="type in typesList">
           <label class="checkbox" >
             <input type="checkbox" ng-model="type.checked" ng-click="submitFilters()">
           </label> 
           <i class="icon super-{{type.icon}}"></i>
           {{type.name}}
      </div>
    </div>

    
  <div class="item item-divider item-icon-right" style="font-weight:bold;font-size:125%" ng-click = "hideFrequencyFilters()">
    Auto-update new places
    <i class="{{FrequencyIcon}}"></i>
  </div>
    <div ng-hide="hideFrequencyFilter">
    <ul class="list-group">
      <div ng-repeat="type in FrequencyList">
    <li class="list-group-item" name="frequency" ng-model="selectedFrequency.value" ng-click="SetCurrentItem(type.value)">{{type.name}}</li>
  </div>
    </ul>
  </div>

  <div class="item item-divider item-icon-right" style="font-weight:bold;font-size:125%" ng-click = "hideRatingFilters()">
    Show me places rated
    <i class="{{RatingIcon}}"></i>
  </div>
    <div ng-hide="hideRatingFilter">
    <ul class="list-group">
      <div ng-repeat="type in RatingList">
    <li class="list-group-item" name="rating" ng-model="selectedRating.value" ng-click="SetCurrentRating(type.value)">{{type.name}}</li>
  </div>
    </ul>
  </div>


  </div>

  </div>
</div>
